# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Env files
.env*.local
.env.keys

# Testing
coverage

# Turbo
.cache
.turbo

# Vercel
.vercel

# Build Outputs
.next
out
build
dist

# Debug
pnpm-debug.log*

# Misc
.DS_Store
*.pem
