/* Base Styles */

@theme inline {
  /* Breakpoints */
  --breakpoint-2xs: 20rem; /* 320px */
  --breakpoint-xs: 30rem; /* 480px */
  --breakpoint-sm: 40rem; /* 640px */
  --breakpoint-md: 48rem; /* 768px */
  --breakpoint-lg: 64rem; /* 1024px */
  --breakpoint-xl: 80rem; /* 1280px */
  --breakpoint-2xl: 90rem; /* 1440px */
  --breakpoint-3xl: 105rem; /* 1680px */
  --breakpoint-4xl: 120rem; /* 1920px */

  /* Border Radius */
  --radius-xs: calc(--spacing(1) - 0.5px);
  --radius-sm: calc(--spacing(1) + 1px);
  --radius-md: calc(--spacing(1) + 2px);
  --radius-lg: calc(--spacing(1) + 4px);
  --radius-xl: calc(--spacing(1) + 6px);
  --radius-2xl: calc(--spacing(1) + 8px);
  --radius-3xl: calc(--spacing(1) + 10px);
  --radius-4xl: calc(--spacing(1) + 12px);
}

@layer base {
  * {
    border-color: var(--border);
    outline-color: --alpha(var(--ring) / 50%);
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    background-color: var(--background);
    color: var(--foreground);
  }
}
