/* Theme Primitives */

@theme inline {
  /* Box Spacing */
  --spacing-box-xs: var(--spacing-fs-6);
  --spacing-box-sm: var(--spacing-fs-7);
  --spacing-box-base: var(--spacing-fs-8);
  --spacing-box-md: var(--spacing-fs-9);
  --spacing-box-lg: var(--spacing-fs-10);
  --spacing-box-xl: var(--spacing-fs-11);
  --spacing-box-full: var(--spacing-fs-12);

  /* Action Spacing */
  --spacing-action-xs: var(--spacing-fs-sm-1);
  --spacing-action-sm: var(--spacing-fs-sm-2);
  --spacing-action-base: var(--spacing-fs-sm-3);
  --spacing-action-md: var(--spacing-fs-sm-4);
  --spacing-action-lg: var(--spacing-fs-sm-5);
  --spacing-action-xl: var(--spacing-fs-sm-6);
  --spacing-action-full: var(--spacing-fs-sm-7);

  /* Layout Spacing */
  --spacing-layout-xs: var(--spacing-fs-lg-1);
  --spacing-layout-sm: var(--spacing-fs-lg-2);
  --spacing-layout-base: var(--spacing-fs-lg-3);
  --spacing-layout-md: var(--spacing-fs-lg-4);
  --spacing-layout-lg: var(--spacing-fs-lg-5);
  --spacing-layout-xl: var(--spacing-fs-lg-6);
  --spacing-layout-full: var(--spacing-fs-lg-7);

  /* Display Spacing */
  --spacing-display-xs: var(--spacing-fs-md-6);
  --spacing-display-sm: var(--spacing-fs-md-7);
  --spacing-display-base: var(--spacing-fs-md-8);
  --spacing-display-md: var(--spacing-fs-md-9);
  --spacing-display-lg: var(--spacing-fs-md-10);
  --spacing-display-xl: var(--spacing-fs-md-11);
  --spacing-display-full: var(--spacing-fs-md-12);
  
  /* Text Spacing */
  --spacing-text-xs: var(--spacing-fs-md-2);
  --spacing-text-sm: var(--spacing-fs-4);
  --spacing-text-base: var(--spacing-fs-6);
  --spacing-text-md: var(--spacing-fs-7);
  --spacing-text-lg: var(--spacing-fs-8);
  --spacing-text-xl: var(--spacing-fs-9);
  --spacing-text-full: var(--spacing-fs-10);
}

/* Box Primitive */

@utility box {
  box-sizing: border-box;
  display: flex;
}

@utility box-centered {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

@utility box-* {
  --spacing: calc(--modifier(number) * var(--spacing-box-base, --spacing));
  --spacing: calc(--modifier(integer) * 1%);
  box-sizing: border-box;
  display: --value('flex', 'grid', 'inline-flex', 'inline-grid');
  display: flex;
  gap: --value(--spacing-box-*, --spacing-*, [*]);
  gap: --spacing(--value(number, integer));
  padding: --value(--spacing-box-*, --spacing-*, [*]);
  padding: --spacing(--value(number, integer));
}

@utility box-c-* {
  --alpha: calc(--modifier(integer) * 1%);
  background-color: --alpha(--value(--color-*, [color]) / var(--alpha, 100%));
  color: --value(--color-*-foreground);
}

@utility box-b-* {
  --alpha: calc(--modifier(integer) * 1%);
  --spacing: calc(--modifier(number) * var(--spacing-box-base, --spacing));
  --spacing: calc(--modifier(integer) * 1%);
  border-width: --value(--spacing-line-*, --spacing-*, [*]);
  border-width: calc(--spacing(--value(number, integer)) / 4);
  border-color: --alpha(--value(--color-*, [color]) / var(--alpha, 40%));
}

/* Action Primitive */

@utility action {
  transition-property: background-color, border-color, box-shadow, color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
  transition-timing-function: var(--default-transition-timing-function);
  transition-duration: var(--default-transition-duration);

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  & svg {
    pointer-events: none;
    flex-shrink: 0;
    width: 1em;
    height: 1em;
  }
}

@utility action-* {
  --alpha: calc(--modifier(integer) * 1%);
  --spacing: calc(--modifier(number) * var(--spacing-action-base, --spacing));
  --spacing: calc(--modifier(integer) * 1%);
  gap: calc(--value(--spacing-action-*, --spacing-*, [*]) / 2);
  gap: calc(--spacing(--value(number, integer)) / 2);
  padding-block: --value(--spacing-action-*, --spacing-*, [*]);
  padding-block: --spacing(--value(number, integer));
  padding-inline: calc(--value(--spacing-action-*, --spacing-*, [*]) * 2);
  padding-inline: calc(--spacing(--value(number, integer)) * 2);
  outline-offset: --value(--spacing-line-*, [*]);
  outline-offset: calc(--value(--spacing-action-*, --spacing-*) / 4);
  outline-offset: calc(--spacing(--value(number, integer)) / 4);
  outline-color: --alpha(--value(--color-*, [color]) / 75%);
  border-color: --alpha(--value(--color-*, [color]) / 50%);
  background-color: --alpha(--value(--color-*, [color]) / var(--alpha, 100%));
  color: --value(--color-*-foreground);

  &:hover {
    border-color: transparent;
    background-color: --alpha(--value(--color-*, [color]) / 90%);
  }

  &:active {
    border-color: --alpha(--value(--color-*, [color]) / 100%);
    background-color: --alpha(--value(--color-*, [color]) / var(--alpha, 100%));
  }

  &:focus-visible {
    outline-width: --value(--spacing-line-*, [*]);
    outline-width: calc(--value(--spacing-action-*, --spacing-*) / 4);
    outline-width: calc(--spacing(--value(number, integer)) / 4);
  }

  &[aria-invalid="true"] {
    &:focus-visible {
      outline-width: 0;
    }
  }
}

@utility action-b-* {
  --alpha: calc(--modifier(integer) * 1%);
  --spacing: calc(--modifier(number) * var(--spacing-action-base, --spacing));
  --spacing: calc(--modifier(integer) * 1%);
  border-width: --value(--spacing-line-*, --spacing-*, [*]);
  border-width: calc(--spacing(--value(number, integer)) / 4);
  border-color: --alpha(--value(--color-*, [color]) / var(--alpha, 100%));
  border-color: var(--color-border, inherit);
}

@utility action-outline-* {
  --alpha: calc(--modifier(integer) * 1%);
  --spacing: calc(--modifier(number) * var(--spacing-action-base, --spacing));
  --spacing: calc(--modifier(integer) * 1%);
  outline-offset: --value(--spacing-line-*, --spacing-*, [*]);
  outline-offset: --spacing(--value(number, integer));
  outline-color: --alpha(--value(--color-*, [color]) / var(--alpha, 100%));
  outline-color: var(--color-ring, inherit);

  &:focus-visible {
    outline-width: --value(--spacing-line-*, --spacing-*, [*]);
    outline-width: --spacing(--value(number, integer));
  }

  &[aria-invalid="true"] {
    &:focus-visible {
      outline-width: 0;
    }
  }
}

/* Display Primitive */

@utility display-* {
  --spacing: calc(--modifier(number) * var(--spacing-display-base, --spacing));
  --spacing: calc(--modifier(integer) * 1%);
  gap: --value(--spacing-display-*, --spacing-*, [*]);
  gap: --spacing(--value(number, integer));
  padding: --value(--spacing-display-*, --spacing-*, [*]);
  padding: --spacing(--value(number, integer));
}

@utility display-text {
  display: inline-flex;
  gap: var(--spacing-text-base);
  flex-wrap: wrap;
  align-items: center;
  text-wrap: pretty;
}

@utility display-text-* {
  --spacing: calc(--modifier(number) * var(--spacing-text-base, --spacing));
  --spacing: calc(--modifier(integer) * 1%);
  gap: --value(--spacing-display-*, --spacing-*, [*]);
  gap: --value(--spacing-text-*);
  gap: --spacing(--value(number, integer));
}
