/* Base Light Theme */

:root,
.light,
[data-theme='light'] {
  color-scheme: light;

  /* Surface Colors */

  --base: var(--cs-light);
  --base-1: var(--cs-fog-10);
  --base-2: var(--cs-fog-9);
  --base-3: var(--cs-fog-8);
  --base-foreground: var(--cs-smog-1);

  --display: var(--cs-fog-7);
  --display-1: var(--cs-fog-6);
  --display-2: var(--cs-fog-5);
  --display-3: var(--cs-fog-4);
  --display-foreground: var(--cs-smog-0);

  --panel: var(--cs-fog-3);
  --panel-1: var(--cs-fog-2);
  --panel-2: var(--cs-fog-1);
  --panel-3: var(--cs-fog-0);
  --panel-foreground: var(--cs-dark);

  /* Overlay Colors */

  --edge: var(--cs-dark);
  --edge-1: var(--cs-smog-0);
  --edge-2: var(--cs-smog-1);
  --edge-3: var(--cs-smog-2);
  --edge-foreground: var(--cs-fog-1);

  --shell: var(--cs-smog-3);
  --shell-1: var(--cs-smog-4);
  --shell-2: var(--cs-smog-5);
  --shell-3: var(--cs-smog-6);
  --shell-foreground: var(--cs-fog-0);

  --cover: var(--cs-smog-7);
  --cover-1: var(--cs-smog-8);
  --cover-2: var(--cs-smog-9);
  --cover-3: var(--cs-smog-10);
  --cover-foreground: var(--cs-light);

  /* UI Colors */

  --background: var(--cs-fog-9);
  --foreground: var(--cs-smog-2);

  --input: var(--cs-fog-10);
  --border: var(--cs-fog-5);
  --ring: var(--cs-fog-0);

  --card: var(--cs-fog-8);
  --card-foreground: var(--cs-smog-3);

  --popover: var(--cs-fog-7);
  --popover-foreground: var(--cs-smog-4);

  --muted: var(--cs-fog-6);
  --muted-foreground: var(--cs-smog-5);

  /* Semantic Colors */

  --neutral: var(--cs-dark);
  --neutral-foreground: var(--cs-light);

  --primary: var(--cs-primary-2);
  --primary-foreground: var(--cs-light);

  --secondary: var(--cs-secondary-3);
  --secondary-foreground: var(--cs-light);

  /* State & Status Colors */

  --accent: var(--cs-accent);
  --accent-foreground: var(--cs-light);

  --danger: var(--cs-danger);
  --danger-foreground: var(--cs-light);
}

/* Base Dark Theme */

.dark,
[data-theme='dark'] {
  color-scheme: dark;

  /* Surface Colors */

  --base: var(--cs-dark);
  --base-1: var(--cs-smog-0);
  --base-2: var(--cs-smog-1);
  --base-3: var(--cs-smog-2);
  --base-foreground: var(--cs-fog-9);

  --display: var(--cs-smog-3);
  --display-1: var(--cs-smog-4);
  --display-2: var(--cs-smog-5);
  --display-3: var(--cs-smog-6);
  --display-foreground: var(--cs-fog-10);

  --panel: var(--cs-smog-7);
  --panel-1: var(--cs-smog-8);
  --panel-2: var(--cs-smog-9);
  --panel-3: var(--cs-smog-10);
  --panel-foreground: var(--cs-light);

  /* Layout Colors */

  --edge: var(--cs-primary-0);
  --edge-1: var(--cs-primary-1);
  --edge-2: var(--cs-primary-2);
  --edge-3: var(--cs-primary-3);
  --edge-foreground: var(--cs-light);

  --shell: var(--cs-secondary-0);
  --shell-1: var(--cs-secondary-1);
  --shell-2: var(--cs-secondary-2);
  --shell-3: var(--cs-secondary-3);
  --shell-foreground: var(--cs-light);

  --cover: var(--cs-fog-0);
  --cover-1: var(--cs-fog-1);
  --cover-2: var(--cs-fog-2);
  --cover-3: var(--cs-fog-3);
  --cover-foreground: var(--cs-dark);

  /* UI Colors */

  --background: var(--cs-smog-2);
  --foreground: var(--cs-fog-8);

  --input: var(--cs-fog-10);
  --border: var(--cs-smog-10);
  --ring: var(--cs-fog-0);

  --card: var(--cs-smog-3);
  --card-foreground: var(--cs-fog-8);

  --popover: var(--cs-smog-4);
  --popover-foreground: var(--cs-fog-7);

  --muted: var(--cs-smog-5);
  --muted-foreground: var(--cs-fog-6);

  /* Semantic Colors */

  --neutral: var(--cs-light);
  --neutral-foreground: var(--cs-dark);

  --primary: var(--cs-primary-9);
  --primary-foreground: var(--cs-dark);

  --secondary: var(--cs-secondary-10);
  --secondary-foreground: var(--cs-dark);

  /* State & Status Colors */

  --accent: var(--cs-accent);
  --accent-foreground: var(--cs-light);

  --danger: var(--cs-danger);
  --danger-foreground: var(--cs-light);
}
