/* Base Light Theme */

:root,
.light,
[data-theme='light'] {
  color-scheme: light;

  --background: var(--cs-base-23);
  --background-1: var(--cs-base-22);
  --background-2: var(--cs-base-21);
  --background-3: var(--cs-base-20);
  --foreground: var(--cs-base-2);

  --input: var(--cs-base-23);
  --border: var(--cs-base-14);
  --ring: var(--cs-base-6);

  --card: var(--cs-base-19);
  --card-1: var(--cs-base-18);
  --card-2: var(--cs-base-17);
  --card-3: var(--cs-base-16);
  --card-foreground: var(--cs-base-1);

  --popover: var(--cs-base-18);
  --popover-1: var(--cs-base-17);
  --popover-2: var(--cs-base-16);
  --popover-3: var(--cs-base-15);
  --popover-foreground: var(--cs-base-0);

  --neutral: var(--cs-base-16);
  --neutral-1: var(--cs-base-14);
  --neutral-2: var(--cs-base-12);
  --neutral-3: var(--cs-base-10);
  --neutral-foreground: var(--cs-base-0);
  --neutral-foreground-1: var(--cs-base-23);

  --accent: var(--cs-accent-8);
  --accent-1: var(--cs-accent-4);
  --accent-foreground: var(--cs-base-0);
  --accent-foreground-1: var(--cs-base-23);

  --primary: var(--cs-base-0);
  --primary-foreground: var(--cs-base-23);

  --secondary: var(--cs-base-8);
  --secondary-foreground: var(--cs-base-22);

  --danger: var(--cs-danger-6);
  --danger-1: var(--cs-danger-3);
  --danger-foreground: var(--cs-base-2);
  --danger-foreground-1: var(--cs-base-21);
}

/* Base Dark Theme */

.dark,
[data-theme='dark'] {
  color-scheme: dark;

  --background: var(--cs-base-0);
  --background-1: var(--cs-base-1);
  --background-2: var(--cs-base-2);
  --background-3: var(--cs-base-3);
  --foreground: var(--cs-base-21);

  --input: var(--cs-base-0);
  --border: var(--cs-base-9);
  --ring: var(--cs-base-17);

  --card: var(--cs-base-4);
  --card-1: var(--cs-base-5);
  --card-2: var(--cs-base-6);
  --card-3: var(--cs-base-7);
  --card-foreground: var(--cs-base-22);

  --popover: var(--cs-base-5);
  --popover-1: var(--cs-base-6);
  --popover-2: var(--cs-base-7);
  --popover-3: var(--cs-base-8);
  --popover-foreground: var(--cs-base-23);

  --neutral: var(--cs-base-7);
  --neutral-1: var(--cs-base-9);
  --neutral-2: var(--cs-base-11);
  --neutral-3: var(--cs-base-13);
  --neutral-foreground: var(--cs-base-23);
  --neutral-foreground-1: var(--cs-base-0);

  --accent: var(--cs-accent-4);
  --accent-1: var(--cs-accent-8);
  --accent-foreground: var(--cs-base-23);
  --accent-foreground-1: var(--cs-base-0);

  --primary: var(--cs-base-23);
  --primary-foreground: var(--cs-base-0);

  --secondary: var(--cs-base-15);
  --secondary-foreground: var(--cs-base-1);

  --danger: var(--cs-danger-3);
  --danger-1: var(--cs-danger-6);
  --danger-foreground: var(--cs-base-21);
  --danger-foreground-1: var(--cs-base-2);
}
