/* Utility Styles */

/* - Tailwind CSS Docs: https://tailwindcss.com/docs/adding-custom-styles#adding-custom-utilities */

@utility container {
  margin-inline: auto;
  max-width: var(--breakpoint-7xl);
}

@utility auto-fill-* {
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(--value([*]), 100%), 1fr)
  );
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(--value(--spacing-*, --text-*), 100%), 1fr)
  );
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(var(--spacing) * --value(integer), 100%), 1fr)
  );
}

@utility auto-fit-* {
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(--value([*]), 100%), 1fr)
  );
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(--value(--spacing-*, --text-*), 100%), 1fr)
  );
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(var(--spacing) * --value(integer), 100%), 1fr)
  );
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@utility scrollbar-* {
  --alpha: calc(--modifier(integer) * 1%);
  scrollbar-color: --alpha(--value(--color-*, [color]) / var(--alpha, 50%));
}
