/* Utility Styles */

/* - Tailwind CSS Docs: https://tailwindcss.com/docs/adding-custom-styles#adding-custom-utilities */

/* Grid Utilities */

@utility auto-fill-* {
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(--value([*]), 100%), 1fr)
  );
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(--value(--spacing-*, --text-*), 100%), 1fr)
  );
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(var(--spacing) * --value(integer), 100%), 1fr)
  );
}

@utility auto-fit-* {
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(--value([*]), 100%), 1fr)
  );
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(--value(--spacing-*, --text-*), 100%), 1fr)
  );
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(var(--spacing) * --value(integer), 100%), 1fr)
  );
}

/* Transition Utilities */

@utility transition-box {
  transition-property: outline-color, box-shadow, border-color, background-color, color, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
  transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
  transition-duration: var(--tw-duration, var(--default-transition-duration));
}

@utility transition-action {
  transition-property: outline-color, box-shadow, border-color, background-color, color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
  transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
  transition-duration: var(--tw-duration, var(--default-transition-duration));
}

@utility transition-link {
  transition-property: outline-color, color, text-decoration-color, fill, stroke;
  transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
  transition-duration: var(--tw-duration, var(--default-transition-duration));
}

/* Box Utilities */

@utility box {
  box-sizing: border-box;
  display: flex;
}

/* TODO: use `--modifier` to handle more box placement styles */
@utility box-* {
  box-sizing: border-box;
  display: flex;
  align-items: --value('center', 'start', 'end', 'stretch');
  justify-content: --value('center', 'start', 'end', 'stretch');
}

/* TODO: add grid template columns and grid column span styles if display is grid - may need a functional utility */
@utility box-col {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

@utility box-color-* {
  --alpha: calc(--modifier(integer, number) * 1%);
  --color: --value(--color-*, [*]);
  --color: --modifier(--color-*, [*]);
  border-color: --alpha(oklch(from --value(--color-*, [*]) calc(l * 0.8) c h) / var(--alpha, 100%));
  background-color: --alpha(--value(--color-*, [*]) / var(--alpha, 100%));
  color: oklch(from var(--color) calc(l + (100% + l) / 2) c h);
  color: --value(--color-*-foreground);
  color: --modifier(--color-*, [*]);
}

/* Action Utilities */

/* TODO: update action color styles based on box-color-* changes, add additional action utils (to set disabled and other states) */
@utility action-color-* {
  --tw-ring-color: --alpha(--value(--color-*, [*]) / 25%);
  --alpha: calc(--modifier(integer) * 1%);
  outline-color: --alpha(--value(--color-*, [*]) / 50%);
  border-color: --alpha(--value(--color-*, [*]) / var(--alpha, 100%));
  background-color: --alpha(--value(--color-*, [*]) / var(--alpha, 100%));
  color: --value(--color-*-foreground);

  &:hover {
    border-color: transparent;
    background-color: --alpha(--value(--color-*, [*]) / 90%);
  }

  &:active {
    border-color: --alpha(--value(--color-*, [*]) / 100%);
    background-color: --alpha(--value(--color-*, [*]) / var(--alpha, 100%));
  }

  &:focus-visible {
    outline-color: --alpha(--value(--color-*, [*]) / 100%);
    border-color: transparent;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    border-color: --alpha(--value(--color-*, [*]) / var(--alpha, 100%));
    background-color: --alpha(--value(--color-*, [*]) / var(--alpha, 100%));
  }
}

/* Framer Utilities */

/* TODO: use modifiers to handle different gap and padding patterns - consider creating spacing utils to recycle common spacing patterns (i.e. framer-[t-shirt-size]-*) */
@utility framer-* {
  --spacing: calc(--modifier(number, integer) * var(--spacing-fs-*, --spacing-*, [*]));
  padding: calc(var(--spacing-fs, --spacing) * 4);
  padding: --value(--spacing-fs-*, --spacing-*, [*]);
  padding: --spacing(--value(number, integer));
  gap: calc(var(--spacing-fs, --spacing) * 4);
  gap: --value(--spacing-fs-*, --spacing-*, [*]);
  gap: --spacing(--value(number, integer));
}

/* Wrapper Utilities */

@utility icon-wrapper {
  & :is(img, svg):not([class*='size-']) {
    width: 1em;
    height: 1em;
  }

  & :is(img, svg) {
    pointer-events: none;
  }

  &:is(.flex, .inline-flex):has(> :is(img, svg)),
  & :is(.flex, .inline-flex):has(> :is(img, svg)) {
    flex-shrink: 0;
  }
}

@utility text-wrapper {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  text-wrap: pretty;
  gap: var(--spacing-fs-8, calc(var(--spacing-fs, --spacing) * 16));
}

@utility wrapper-* {
  --spacing: calc(--modifier(number, integer) * var(--spacing-fs-*, --spacing-*, [*]));
  padding-block: --value(--spacing-fs-*, --spacing-*, [*]);
  padding-block: --spacing(--value(number, integer));
  gap: --value(--spacing-fs-*, --spacing-*, [*]);
  gap: --spacing(--value(number, integer));
}

/* Container Utilities */

@utility container {
  margin-inline: auto;
  max-width: var(--breakpoint-7xl);
}

@utility container-* {
  --spacing: calc(--modifier(number, integer) * var(--spacing-fs-*, --spacing-*, [*]));
  padding-inline: --value(--spacing-fs-*, --spacing-*, [*]);
  padding-inline: --spacing(--value(number, integer));
  gap: --value(--spacing-fs-*, --spacing-*, [*]);
  gap: --spacing(--value(number, integer));
}
