@import "tailwindcss";
@import "./variables.css";

@source "../../../apps/**/*.{ts,tsx}";
@source "../../../components/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@plugin "tailwindcss-animate";

@variant dark (&:is(.dark, [data-theme="dark"] *));
@variant light (&:is(.light, [data-theme="light"] *));

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme inline {
  /* Colors */
  --color-background: var(--background);
  --color-background-1: var(--background-1);
  --color-background-2: var(--background-2);
  --color-background-3: var(--background-3);
  --color-foreground: var(--foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-card: var(--card);
  --color-card-1: var(--card-1);
  --color-card-2: var(--card-2);
  --color-card-3: var(--card-3);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-1: var(--popover-1);
  --color-popover-2: var(--popover-2);
  --color-popover-3: var(--popover-3);
  --color-popover-foreground: var(--popover-foreground);

  --color-neutral: var(--neutral);
  --color-neutral-1: var(--neutral-1);
  --color-neutral-foreground: var(--neutral-foreground);
  --color-neutral-foreground-1: var(--neutral-foreground-1);

  --color-accent: var(--accent);
  --color-accent-1: var(--accent-1);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent-foreground-1: var(--accent-foreground-1);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-danger: var(--danger);
  --color-danger-1: var(--danger-1);
  --color-danger-foreground: var(--danger-foreground);
  --color-danger-foreground-1: var(--danger-foreground-1);

  /* Typography */
  --text-caption: var(--ts-xs); /* For small captions, footnotes, or metadata */
  --text-label: var(--ts-sm); /* For form labels and small UI elements */
  --text-body: var(--ts-base); /* For main body text or paragraphs */
  --text-subheading: var(
    --ts-md
  ); /* For secondary headings within content sections */
  --text-subtitle: var(
    --ts-lg
  ); /* For contextual subtitles or supporting titles */
  --text-heading: var(--ts-xl); /* For primary section headings */
  --text-title: var(--ts-2xl); /* For page or article titles */
  --text-headline: var(
    --ts-3xl
  ); /* For large, prominent headlines that draw attention */
  --text-epic: var(
    --ts-4xl
  ); /* For huge banner or hero text that makes a strong visual impact */

  /* Spacing */
  --spacing: 0.33rem;

  --spacing-fs-1: var(--fs-1);
  --spacing-fs-2: var(--fs-2);
  --spacing-fs-3: var(--fs-3);
  --spacing-fs-4: var(--fs-4);
  --spacing-fs-5: var(--fs-5);
  --spacing-fs-6: var(--fs-6);
  --spacing-fs-7: var(--fs-7);
  --spacing-fs-8: var(--fs-8);
  --spacing-fs-9: var(--fs-9);
  --spacing-fs-10: var(--fs-10);
  --spacing-fs-11: var(--fs-11);
  --spacing-fs-12: var(--fs-12);
  --spacing-fs-13: var(--fs-13);

  /* Border Radius */
  --radius-xs: calc(--spacing(1) - 3px);
  --radius-sm: calc(--spacing(1) - 1.5px);
  --radius-md: --spacing(1);
  --radius-lg: calc(--spacing(1) + 3px);
  --radius-xl: calc(--spacing(1) + 6px);

  /* Animations */
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  * {
    border-color: var(--border);
    outline-color: --alpha(var(--ring) / 50%);
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-size: var(--text-body);
  }

  h1 {
    font-size: var(--text-headline);
    font-weight: var(--font-weight-bold);
  }

  h2 {
    font-size: var(--text-title);
    font-weight: var(--font-weight-bold);
  }

  h3 {
    font-size: var(--text-heading);
    font-weight: var(--font-weight-semibold);
  }

  h4 {
    font-size: var(--text-subtitle);
    font-weight: var(--font-weight-semibold);
  }

  h5 {
    font-size: var(--text-subheading);
    font-weight: var(--font-weight-medium);
  }

  h6 {
    font-size: var(--text-body);
    font-weight: var(--font-weight-medium);
  }

  label,
  th {
    font-size: var(--text-label);
    font-weight: var(--font-weight-medium);
  }
}

@utility container {
  margin-inline: auto;
  max-width: var(--breakpoint-2xl);
}

/* Ticket adds octagon shaped borders around a parent element */
@utility shape-ticket {
  position: relative;
  outline-style: none;
  border-radius: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    border-inline-width: --spacing(1);
    border-inline-style: solid;
    border-inline-color: transparent;
  }

  &::before {
    top: --spacing(-1);
    border-bottom-width: --spacing(1);
    border-bottom-style: solid;
    border-bottom-color: inherit;
  }

  &::after {
    bottom: --spacing(-1);
    border-top-width: --spacing(1);
    border-top-style: solid;
    border-top-color: inherit;
  }
}
