@import 'tailwindcss';

@import './variables.css';
@import './themes.css';

@source "../../../apps/**/src/app/**/*.{ts,tsx}";
@source "../../../apps/**/src/components/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@import 'tw-animate-css';
@plugin "tailwindcss-motion";
@plugin "tailwindcss-intersect";

@variant dark (&:is(.dark, [data-theme="dark"] *));
@variant light (&:is(.light, [data-theme="light"] *));

@theme inline {
  /* Semantic Colors */
  --color-background: var(--background);
  --color-background-1: var(--background-1);
  --color-background-2: var(--background-2);
  --color-background-3: var(--background-3);
  --color-foreground: var(--foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-card: var(--card);
  --color-card-1: var(--card-1);
  --color-card-2: var(--card-2);
  --color-card-3: var(--card-3);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-1: var(--popover-1);
  --color-popover-2: var(--popover-2);
  --color-popover-3: var(--popover-3);
  --color-popover-foreground: var(--popover-foreground);

  --color-neutral: var(--neutral);
  --color-neutral-1: var(--neutral-1);
  --color-neutral-2: var(--neutral-2);
  --color-neutral-3: var(--neutral-3);
  --color-neutral-foreground: var(--neutral-foreground);
  --color-neutral-foreground-1: var(--neutral-foreground-1);

  --color-accent: var(--accent);
  --color-accent-1: var(--accent-1);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent-foreground-1: var(--accent-foreground-1);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-danger: var(--danger);
  --color-danger-1: var(--danger-1);
  --color-danger-foreground: var(--danger-foreground);
  --color-danger-foreground-1: var(--danger-foreground-1);

  /* Fluid Typography */
  --text-caption: var(--ts-xs); /* For small captions, footnotes, or metadata */
  --text-label: var(--ts-sm); /* For form labels and small UI elements */
  --text-body: var(--ts-base); /* For main body text or paragraphs */
  --text-subheading: var(
    --ts-md
  ); /* For secondary headings within content sections */
  --text-subtitle: var(
    --ts-lg
  ); /* For contextual subtitles or supporting titles */
  --text-heading: var(--ts-xl); /* For primary section headings */
  --text-title: var(--ts-2xl); /* For page or article titles */
  --text-headline: var(
    --ts-3xl
  ); /* For large, prominent headlines that draw attention */
  --text-epic: var(
    --ts-4xl
  ); /* For huge banner or hero text that makes a strong visual impact */

  /* Fluid Spacing */
  --spacing-fs-0-25: var(--fs-0-25);
  --spacing-fs-0-375: var(--fs-0-375);
  --spacing-fs-0-5: var(--fs-0-5);
  --spacing-fs-0-625: var(--fs-0-625);
  --spacing-fs-0-75: var(--fs-0-75);
  --spacing-fs-1: var(--fs-1);
  --spacing-fs-2: var(--fs-2);
  --spacing-fs-3: var(--fs-3);
  --spacing-fs-4: var(--fs-4);
  --spacing-fs-5: var(--fs-5);
  --spacing-fs-6: var(--fs-6);
  --spacing-fs-7: var(--fs-7);
  --spacing-fs-8: var(--fs-8);
  --spacing-fs-9: var(--fs-9);
  --spacing-fs-10: var(--fs-10);
  --spacing-fs-11: var(--fs-11);
  --spacing-fs-12: var(--fs-12);
  --spacing-fs-13: var(--fs-13);
  --spacing-fs-14: var(--fs-14);
  --spacing-fs-15: var(--fs-15);
  --spacing-fs-16: var(--fs-16);
  --spacing-fs-17: var(--fs-17);
  --spacing-fs-18: var(--fs-18);
  --spacing-fs-19: var(--fs-19);
  --spacing-fs-20: var(--fs-20);
  --spacing-fs-21: var(--fs-21);
  --spacing-fs-22: var(--fs-22);
  --spacing-fs-23: var(--fs-23);
  --spacing-fs-24: var(--fs-24);
  --spacing-fs-25: var(--fs-25);
  --spacing-fs-26: var(--fs-26);
  --spacing-fs-27: var(--fs-27);
  --spacing-fs-28: var(--fs-28);
  --spacing-fs-29: var(--fs-29);
  --spacing-fs-30: var(--fs-30);
  --spacing-fs-31: var(--fs-31);
  --spacing-fs-32: var(--fs-32);
  --spacing-fs-33: var(--fs-33);
  --spacing-fs-34: var(--fs-34);
  --spacing-fs-35: var(--fs-35);
  --spacing-fs-36: var(--fs-36);
  --spacing-fs-37: var(--fs-37);
  --spacing-fs-38: var(--fs-38);
  --spacing-fs-39: var(--fs-39);
  --spacing-fs-40: var(--fs-40);
  --spacing-fs-41: var(--fs-41);
  --spacing-fs-42: var(--fs-42);
  --spacing-fs-43: var(--fs-43);
  --spacing-fs-44: var(--fs-44);
  --spacing-fs-45: var(--fs-45);
  --spacing-fs-46: var(--fs-46);

  /* Border Radius */
  --radius-xs: calc(--spacing(1) - 0.5px);
  --radius-sm: calc(--spacing(1) + 1px);
  --radius-md: calc(--spacing(1) + 2px);
  --radius-lg: calc(--spacing(1) + 4px);
  --radius-xl: calc(--spacing(1) + 6px);
  --radius-2xl: calc(--spacing(1) + 8px);
  --radius-3xl: calc(--spacing(1) + 10px);
  --radius-4xl: calc(--spacing(1) + 12px);

  /* Fluid Border Radius */
  --radius-fs-xs: var(--fs-0-25);
  --radius-fs-sm: var(--fs-0-375);
  --radius-fs-md: var(--fs-0-5);
  --radius-fs-lg: var(--fs-0-625);
  --radius-fs-xl: var(--fs-0-75);
  --radius-fs-2xl: var(--fs-1);
  --radius-fs-3xl: var(--fs-2);
  --radius-fs-4xl: var(--fs-3);

  /* Breakpoints */
  --breakpoint-2xs: 20rem; /* 320px */
  --breakpoint-xs: 30rem; /* 480px */
  --breakpoint-sm: 40rem; /* 640px */
  --breakpoint-md: 48rem; /* 768px */
  --breakpoint-lg: 64rem; /* 1024px */
  --breakpoint-xl: 80rem; /* 1280px */
  --breakpoint-2xl: 90rem; /* 1440px */
  --breakpoint-3xl: 105rem; /* 1680px */
  --breakpoint-4xl: 120rem; /* 1920px */
}

@layer base {
  * {
    border-color: var(--border);
    outline-color: --alpha(var(--ring) / 50%);
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
    font-size: var(--text-body);
  }

  h1 {
    font-size: var(--text-headline);
    font-weight: var(--font-weight-bold);
  }

  h2 {
    font-size: var(--text-title);
    font-weight: var(--font-weight-bold);
  }

  h3 {
    font-size: var(--text-heading);
    font-weight: var(--font-weight-semibold);
  }

  h4 {
    font-size: var(--text-subtitle);
    font-weight: var(--font-weight-semibold);
  }

  h5 {
    font-size: var(--text-subheading);
    font-weight: var(--font-weight-medium);
  }

  h6 {
    font-size: var(--text-body);
    font-weight: var(--font-weight-medium);
  }

  p,
  li {
    font-family: var(--font-serif);
  }

  label,
  th {
    font-size: var(--text-label);
    font-weight: var(--font-weight-medium);
  }
}

@utility container {
  margin-inline: auto;
  max-width: var(--breakpoint-2xl);
}
