@import "tailwindcss";

@source "../../../apps/**/*.{ts,tsx}";
@source "../../../components/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@plugin "tailwindcss-animate";

@variant dark (&:is(.dark, [data-theme="dark"] *));
@variant light (&:is(.light, [data-theme="light"] *));

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Color Scale */
/* - TailwindCSS Colors: https://tailwindcss.com/docs/colors */
/* - OKLCH Color Picker & Converter: https://oklch.com/#80,0,0,100 */

:root {
  /* Light gray color scale */
  --cs-light-base-0: oklch(100% 0 0);
  --cs-light-base-1: oklch(96.18% 0 0);
  --cs-light-base-2: oklch(92.36% 0 0);
  --cs-light-base-3: oklch(88.54% 0 0);
  --cs-light-base-4: oklch(84.72% 0 0);
  --cs-light-base-5: oklch(80.9% 0 0);
  --cs-light-base-6: oklch(77.08% 0 0);
  --cs-light-base-7: oklch(73.26% 0 0);
  --cs-light-base-8: oklch(69.44% 0 0);
  --cs-light-base-9: oklch(65.62% 0 0);
  --cs-light-base-10: oklch(61.8% 0 0);
  --cs-light-base-11: oklch(57.98% 0 0);
  --cs-light-base-12: oklch(54.16% 0 0);
  --cs-light-base-13: oklch(50.34% 0 0);
  --cs-light-base-14: oklch(46.52% 0 0);
  --cs-light-base-15: oklch(42.7% 0 0);
  --cs-light-base-16: oklch(38.88% 0 0);

  /* Dark gray color scale */
  --cs-dark-base-0: oklch(0% 0 0);
  --cs-dark-base-1: oklch(5.573% 0 0);
  --cs-dark-base-2: oklch(9.82% 0 0);
  --cs-dark-base-3: oklch(13.64% 0 0);
  --cs-dark-base-4: oklch(17.46% 0 0);
  --cs-dark-base-5: oklch(21.28% 0 0);
  --cs-dark-base-6: oklch(25.1% 0 0);
  --cs-dark-base-7: oklch(28.92% 0 0);
  --cs-dark-base-8: oklch(32.74% 0 0);
  --cs-dark-base-9: oklch(36.56% 0 0);
  --cs-dark-base-10: oklch(40.38% 0 0);
  --cs-dark-base-11: oklch(44.2% 0 0);
  --cs-dark-base-12: oklch(48.02% 0 0);
  --cs-dark-base-13: oklch(51.84% 0 0);
  --cs-dark-base-14: oklch(55.66% 0 0);
  --cs-dark-base-15: oklch(59.48% 0 0);
  --cs-dark-base-16: oklch(62.44% 0 0);

  /* Accent color scale */
  --cs-light-accent: oklch(77% 0.127 197);
  --cs-dark-accent: oklch(53% 0.0888 197);

  /* Danger status color scale */
  --cs-light-danger: oklch(63% 0.25 15);
  --cs-dark-danger: oklch(37% 0.125 15);
}

:root,
.light,
[data-theme="light"] {
  color-scheme: light;

  --background: var(--cs-light-base-0);
  --background-1: var(--cs-light-base-1);
  --background-2: var(--cs-light-base-2);
  --background-3: var(--cs-light-base-3);
  --foreground: var(--cs-dark-base-0);

  --input: var(--cs-light-base-0);
  --border: var(--cs-light-base-5);
  --ring: var(--cs-dark-base-11);

  --card: var(--cs-light-base-4);
  --card-1: var(--cs-light-base-5);
  --card-2: var(--cs-light-base-6);
  --card-3: var(--cs-light-base-7);
  --card-foreground: var(--cs-dark-base-2);

  --popover: var(--cs-light-base-5);
  --popover-1: var(--cs-light-base-6);
  --popover-2: var(--cs-light-base-7);
  --popover-3: var(--cs-light-base-8);
  --popover-foreground: var(--cs-dark-base-1);

  --neutral: var(--cs-light-base-4);
  --neutral-1: var(--cs-light-base-12);
  --neutral-foreground: var(--cs-dark-base-11);
  --neutral-foreground-1: var(--cs-dark-base-3);

  --accent: var(--cs-light-accent);
  --accent-1: var(--cs-dark-accent);
  --accent-foreground: var(--cs-dark-base-0);
  --accent-foreground-1: var(--cs-light-base-0);

  --primary: var(--cs-dark-base-0);
  --primary-foreground: var(--cs-light-base-0);

  --secondary: var(--cs-dark-base-10);
  --secondary-foreground: var(--cs-light-base-4);

  --danger: var(--cs-light-danger);
  --danger-1: var(--cs-dark-danger);
  --danger-foreground: var(--cs-dark-base-3);
  --danger-foreground-1: var(--cs-light-base-3);
}

.dark,
[data-theme="dark"] {
  color-scheme: dark;

  --background: var(--cs-dark-base-0);
  --background-1: var(--cs-dark-base-1);
  --background-2: var(--cs-dark-base-2);
  --background-3: var(--cs-dark-base-3);
  --foreground: var(--cs-light-base-0);

  --input: var(--cs-dark-base-0);
  --border: var(--cs-dark-base-5);
  --ring: var(--cs-light-base-11);

  --card: var(--cs-dark-base-4);
  --card-1: var(--cs-dark-base-5);
  --card-2: var(--cs-dark-base-6);
  --card-3: var(--cs-dark-base-7);
  --card-foreground: var(--cs-light-base-2);

  --popover: var(--cs-dark-base-5);
  --popover-1: var(--cs-dark-base-6);
  --popover-2: var(--cs-dark-base-7);
  --popover-3: var(--cs-dark-base-8);
  --popover-foreground: var(--cs-light-base-1);

  --neutral: var(--cs-dark-base-4);
  --neutral-1: var(--cs-dark-base-16);
  --neutral-foreground: var(--cs-light-base-6);
  --neutral-foreground-1: var(--cs-light-base-3);

  --accent: var(--cs-dark-accent);
  --accent-1: var(--cs-light-accent);
  --accent-foreground: var(--cs-light-base-0);
  --accent-foreground-1: var(--cs-dark-base-0);

  --primary: var(--cs-light-base-0);
  --primary-foreground: var(--cs-dark-base-0);

  --secondary: var(--cs-light-base-10);
  --secondary-foreground: var(--cs-dark-base-4);

  --danger: var(--cs-dark-danger);
  --danger-1: var(--cs-light-danger);
  --danger-foreground: var(--cs-light-base-3);
  --danger-foreground-1: var(--cs-dark-base-3);
}

/* Typography Scale */
/* - Fluid Type Scale Calculator: https://www.fluid-type-scale.com/calculate?minFontSize=16&minWidth=448&minRatio=1.25&maxFontSize=20&maxWidth=1440&maxRatio=1.333&steps=xs%2Csm%2Cbase%2Cmd%2Clg%2Cxl%2C2xl%2C3xl%2C4xl&baseStep=base&prefix=ts&useContainerWidth=false&includeFallbacks=true&useRems=true&remValue=16&decimals=2&previewFont=Inter&previewText=Almost+before+we+knew+it%2C+we+had+left+the+ground&previewWidth=944 */
/* - Fluid Type Scale Generator: https://typescale.com/ */
/* - Modular Type Scale Generator: https://precise-type.com/modular-scale.html */

/* For browsers that support clamp  */
@supports (font-size: clamp(1rem, 1vi, 1rem)) {
  :root {
    --ts-xs: clamp(0.64rem, 0.1vi + 0.61rem, 0.7rem);
    --ts-sm: clamp(0.8rem, 0.22vi + 0.74rem, 0.94rem);
    --ts-base: clamp(1rem, 0.4vi + 0.89rem, 1.25rem);
    --ts-md: clamp(1.25rem, 0.67vi + 1.06rem, 1.67rem);
    --ts-lg: clamp(1.56rem, 1.06vi + 1.27rem, 2.22rem);
    --ts-xl: clamp(1.95rem, 1.63vi + 1.5rem, 2.96rem);
    --ts-2xl: clamp(2.44rem, 2.43vi + 1.76rem, 3.95rem);
    --ts-3xl: clamp(3.05rem, 3.56vi + 2.05rem, 5.26rem);
    --ts-4xl: clamp(3.81rem, 5.16vi + 2.37rem, 7.01rem);
  }
}

/* For browsers that don't support clamp */
@supports not (font-size: clamp(1rem, 1vi, 1rem)) {
  :root {
    --ts-xs: 0.64rem;
    --ts-sm: 0.8rem;
    --ts-base: 1rem;
    --ts-md: 1.25rem;
    --ts-lg: 1.56rem;
    --ts-xl: 1.95rem;
    --ts-2xl: 2.44rem;
    --ts-3xl: 3.05rem;
    --ts-4xl: 3.81rem;
  }

  @media screen and (min-width: var(--breakpoint-md, 48rem)) {
    :root {
      --ts-xs: 0.67rem;
      --ts-sm: 0.87rem;
      --ts-base: 1.13rem;
      --ts-md: 1.46rem;
      --ts-lg: 1.89rem;
      --ts-xl: 2.46rem;
      --ts-2xl: 3.19rem;
      --ts-3xl: 4.16rem;
      --ts-4xl: 5.41rem;
    }
  }

  @media screen and (min-width: var(--breakpoint-xl, 80rem)) {
    :root {
      --ts-xs: 0.7rem;
      --ts-sm: 0.94rem;
      --ts-base: 1.25rem;
      --ts-md: 1.67rem;
      --ts-lg: 2.22rem;
      --ts-xl: 2.96rem;
      --ts-2xl: 3.95rem;
      --ts-3xl: 5.26rem;
      --ts-4xl: 7.01rem;
    }
  }
}

/* Spacing Scale */
/* - Fluid Scale Calculator: https://www.fluid-type-scale.com/calculate?minFontSize=21.12&minWidth=448&minRatio=1.333&maxFontSize=42.24&maxWidth=1280&maxRatio=1.618&steps=3xs%2C2xs%2Cxs%2Csm%2Cbase%2Cmd%2Clg%2Cxl%2C2xl%2C3xl%2C4xl%2C5xl%2C6xl&baseStep=base&prefix=fs&useContainerWidth=false&includeFallbacks=true&useRems=true&remValue=16&decimals=2&previewFont=Inter&previewText=Almost+before+we+knew+it%2C+we+had+left+the+ground&previewWidth=864 */
/* - Fluid Spacing Calculator: https://utopia.fyi/space/calculator/?c=448,21.12,1.2,1280,42.24,1.25,5,2,&s=0.75|0.5,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

/* For browsers that support clamp  */
@supports (padding: clamp(1rem, 1vi, 1rem)) {
  :root {
    --fs-3xs: clamp(0.33rem, -0.06vi + 0.44rem, 0.41rem);
    --fs-2xs: clamp(0.56rem, 0.13vi + 0.52rem, 0.62rem);
    --fs-xs: clamp(0.74rem, 0.51vi + 0.6rem, 1.01rem);
    --fs-sm: clamp(0.99rem, 1.23vi + 0.64rem, 1.63rem);
    --fs-base: clamp(1.32rem, 2.54vi + 0.61rem, 2.64rem);
    --fs-md: clamp(1.76rem, 4.83vi + 0.41rem, 4.27rem);
    --fs-lg: clamp(2.35rem, 8.78vi + -0.11rem, 6.91rem);
    --fs-xl: clamp(3.13rem, 15.49vi + -1.21rem, 11.18rem);
    --fs-2xl: clamp(4.17rem, 26.78vi + -3.33rem, 18.09rem);
    --fs-3xl: clamp(5.56rem, 45.61vi + -7.22rem, 29.27rem);
    --fs-4xl: clamp(7.41rem, 76.85vi + -14.11rem, 47.37rem);
    --fs-5xl: clamp(9.87rem, 128.4vi + -26.08rem, 76.64rem);
    --fs-6xl: clamp(13.16rem, 213.16vi + -46.53rem, 124rem);
  }
}

/* For browsers that don't support clamp */
@supports not (padding: clamp(1rem, 1vi, 1rem)) {
  :root {
    --fs-3xs: 0.33rem;
    --fs-2xs: 0.56rem;
    --fs-xs: 0.74rem;
    --fs-sm: 0.99rem;
    --fs-base: 1.32rem;
    --fs-md: 1.76rem;
    --fs-lg: 2.35rem;
    --fs-xl: 3.13rem;
    --fs-2xl: 4.17rem;
    --fs-3xl: 5.56rem;
    --fs-4xl: 7.41rem;
    --fs-5xl: 9.87rem;
    --fs-6xl: 13.16rem;
  }

  @media screen and (min-width: var(--breakpoint-md, 48rem)) {
    :root {
      --fs-3xs: 0.37rem;
      --fs-2xs: 0.59rem;
      --fs-xs: 0.88rem;
      --fs-sm: 1.31rem;
      --fs-base: 1.98rem;
      --fs-md: 3.02rem;
      --fs-lg: 4.63rem;
      --fs-xl: 7.15rem;
      --fs-2xl: 11.13rem;
      --fs-3xl: 17.42rem;
      --fs-4xl: 27.39rem;
      --fs-5xl: 43.26rem;
      --fs-6xl: 68.58rem;
    }
  }

  @media screen and (min-width: var(--breakpoint-xl, 80rem)) {
    :root {
      --fs-3xs: 0.41rem;
      --fs-2xs: 0.62rem;
      --fs-xs: 1.01rem;
      --fs-sm: 1.63rem;
      --fs-base: 2.64rem;
      --fs-md: 4.27rem;
      --fs-lg: 6.91rem;
      --fs-xl: 11.18rem;
      --fs-2xl: 18.09rem;
      --fs-3xl: 29.27rem;
      --fs-4xl: 47.37rem;
      --fs-5xl: 76.64rem;
      --fs-6xl: 124rem;
    }
  }
}

@theme inline {
  /* Colors */
  --color-background: var(--background);
  --color-background-1: var(--background-1);
  --color-background-2: var(--background-2);
  --color-background-3: var(--background-3);
  --color-foreground: var(--foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-card: var(--card);
  --color-card-1: var(--card-1);
  --color-card-2: var(--card-2);
  --color-card-3: var(--card-3);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-1: var(--popover-1);
  --color-popover-2: var(--popover-2);
  --color-popover-3: var(--popover-3);
  --color-popover-foreground: var(--popover-foreground);

  --color-neutral: var(--neutral);
  --color-neutral-1: var(--neutral-1);
  --color-neutral-foreground: var(--neutral-foreground);
  --color-neutral-foreground-1: var(--neutral-foreground-1);

  --color-accent: var(--accent);
  --color-accent-1: var(--accent-1);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent-foreground-1: var(--accent-foreground-1);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-danger: var(--danger);
  --color-danger-1: var(--danger-1);
  --color-danger-foreground: var(--danger-foreground);
  --color-danger-foreground-1: var(--danger-foreground-1);

  /* Spacing */
  --spacing: 0.33rem;

  /* Border Radius */
  --radius-xs: calc(--spacing(1) - 3px);
  --radius-sm: calc(--spacing(1) - 1.5px);
  --radius-md: --spacing(1);
  --radius-lg: calc(--spacing(1) + 3px);
  --radius-xl: calc(--spacing(1) + 6px);

  /* Animations */
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  * {
    border-color: var(--border);
    outline-color: --alpha(var(--ring) / 50%);
    line-height: calc(2ex + --spacing(1.5));
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-size: var(--ts-base);
  }

  h1 {
    font-size: var(--ts-3xl);
    font-weight: var(--font-weight-bold);
  }

  h2 {
    font-size: var(--ts-2xl);
    font-weight: var(--font-weight-bold);
  }

  h3 {
    font-size: var(--ts-xl);
    font-weight: var(--font-weight-semibold);
  }

  h4 {
    font-size: var(--ts-lg);
    font-weight: var(--font-weight-semibold);
  }

  h5 {
    font-size: var(--ts-md);
    font-weight: var(--font-weight-medium);
  }

  h6 {
    font-size: var(--ts-base);
    font-weight: var(--font-weight-medium);
  }

  label,
  th {
    font-size: var(--ts-sm);
    font-weight: var(--font-weight-medium);
  }

  small {
    font-size: var(--ts-xs);
  }
}

@utility container {
  margin-inline: auto;
  max-width: var(--breakpoint-2xl);
}

/* Ticket adds octagon shaped borders around a parent element */
@utility shape-ticket {
  position: relative;
  outline-style: none;
  border-radius: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    border-inline-width: --spacing(1);
    border-inline-style: solid;
    border-inline-color: transparent;
  }

  &::before {
    top: --spacing(-1);
    border-bottom-width: --spacing(1);
    border-bottom-style: solid;
    border-bottom-color: inherit;
  }

  &::after {
    bottom: --spacing(-1);
    border-top-width: --spacing(1);
    border-top-style: solid;
    border-top-color: inherit;
  }
}
