/* Color Scale */

/* - TailwindCSS Colors: https://tailwindcss.com/docs/colors */
/* - OKLCH Color Picker & Converter: https://oklch.com/#80,0,0,100 */

/* Using oklch() if supported */
@supports (color: oklch(50% 0 0)) {
  :root {
    /* Base neutral gray color scale */
    --cs-base-0: oklch(0% 0 0); /* #000000 */
    --cs-base-1: oklch(5.38% 0 0); /* #010101 */
    --cs-base-2: oklch(8.7% 0 0); /* #020202 */
    --cs-base-3: oklch(13.04% 0 0); /* #070707 */
    --cs-base-4: oklch(17.39% 0 0); /* #101010 */
    --cs-base-5: oklch(21.74% 0 0); /* #1a1a1a */
    --cs-base-6: oklch(26.09% 0 0); /* #242424 */
    --cs-base-7: oklch(30.43% 0 0); /* #2f2f2f */
    --cs-base-8: oklch(34.78% 0 0); /* #3a3a3a */
    --cs-base-9: oklch(39.13% 0 0); /* #454545 */
    --cs-base-10: oklch(43.48% 0 0); /* #515151 */
    --cs-base-11: oklch(47.83% 0 0); /* #5d5d5d */
    --cs-base-12: oklch(52.17% 0 0); /* #696969 */
    --cs-base-13: oklch(56.52% 0 0); /* #767676 */
    --cs-base-14: oklch(60.87% 0 0); /* #838383 */
    --cs-base-15: oklch(65.22% 0 0); /* #909090 */
    --cs-base-16: oklch(69.57% 0 0); /* #9d9d9d */
    --cs-base-17: oklch(73.91% 0 0); /* #aaaaaa */
    --cs-base-18: oklch(78.26% 0 0); /* #b8b8b8 */
    --cs-base-19: oklch(82.61% 0 0); /* #c6c6c6 */
    --cs-base-20: oklch(86.96% 0 0); /* #d4d4d4 */
    --cs-base-21: oklch(91.3% 0 0); /* #e2e2e2 */
    --cs-base-22: oklch(95.65% 0 0); /* #f0f0f0 */
    --cs-base-23: oklch(100% 0 0); /* #ffffff */

    /* Accent color scale */
    --cs-accent-4: oklch(47% 0.0444 197); /* #3c6363 */
    --cs-accent-8: oklch(77% 0.127 197); /* #1ecdd0 */

    /* Status color scale */
    --cs-danger-3: oklch(37% 0.125 15); /* #73172a */
    --cs-danger-6: oklch(63% 0.25 15); /* #fb0756 */
  }
}

/* Fallback using hex values if oklch() not supported */
@supports not (color: oklch(50% 0 0)) {
  :root {
    /* Base neutral gray color scale */
    --cs-base-0: #000000;
    --cs-base-1: #010101;
    --cs-base-2: #020202;
    --cs-base-3: #070707;
    --cs-base-4: #101010;
    --cs-base-5: #1a1a1a;
    --cs-base-6: #242424;
    --cs-base-7: #2f2f2f;
    --cs-base-8: #3a3a3a;
    --cs-base-9: #454545;
    --cs-base-10: #515151;
    --cs-base-11: #5d5d5d;
    --cs-base-12: #696969;
    --cs-base-13: #767676;
    --cs-base-14: #838383;
    --cs-base-15: #909090;
    --cs-base-16: #9d9d9d;
    --cs-base-17: #aaaaaa;
    --cs-base-18: #b8b8b8;
    --cs-base-19: #c6c6c6;
    --cs-base-20: #d4d4d4;
    --cs-base-21: #e2e2e2;
    --cs-base-22: #f0f0f0;
    --cs-base-23: #ffffff;

    /* Accent color scale */
    --cs-accent-4: #3c6363;
    --cs-accent-8: #1ecdd0;

    /* Status color scale */
    --cs-danger-3: #73172a;
    --cs-danger-6: #fb0756;
  }
}

/* Typography Scale */

/* - Fluid Type Scale Calculator: https://www.fluid-type-scale.com/calculate?minFontSize=16&minWidth=448&minRatio=1.25&maxFontSize=20&maxWidth=1440&maxRatio=1.333&steps=xs%2Csm%2Cbase%2Cmd%2Clg%2Cxl%2C2xl%2C3xl%2C4xl&baseStep=base&prefix=ts&useContainerWidth=false&includeFallbacks=true&useRems=true&remValue=16&decimals=2&previewFont=Inter&previewText=Almost+before+we+knew+it%2C+we+had+left+the+ground&previewWidth=944 */
/* - Fluid Type Scale Generator: https://typescale.com/ */
/* - Modular Type Scale Generator: https://precise-type.com/modular-scale.html */

/* For browsers that support clamp */
@supports (font-size: clamp(1rem, 1vi, 1rem)) {
  :root {
    --ts-xs: clamp(0.64rem, 0.1vi + 0.61rem, 0.7rem);
    --ts-sm: clamp(0.8rem, 0.22vi + 0.74rem, 0.94rem);
    --ts-base: clamp(1rem, 0.4vi + 0.89rem, 1.25rem);
    --ts-md: clamp(1.25rem, 0.67vi + 1.06rem, 1.67rem);
    --ts-lg: clamp(1.56rem, 1.06vi + 1.27rem, 2.22rem);
    --ts-xl: clamp(1.95rem, 1.63vi + 1.5rem, 2.96rem);
    --ts-2xl: clamp(2.44rem, 2.43vi + 1.76rem, 3.95rem);
    --ts-3xl: clamp(3.05rem, 3.56vi + 2.05rem, 5.26rem);
    --ts-4xl: clamp(3.81rem, 5.16vi + 2.37rem, 7.01rem);
  }
}

/* For browsers that don't support clamp */
@supports not (font-size: clamp(1rem, 1vi, 1rem)) {
  :root {
    --ts-xs: 0.64rem;
    --ts-sm: 0.8rem;
    --ts-base: 1rem;
    --ts-md: 1.25rem;
    --ts-lg: 1.56rem;
    --ts-xl: 1.95rem;
    --ts-2xl: 2.44rem;
    --ts-3xl: 3.05rem;
    --ts-4xl: 3.81rem;
  }

  @media screen and (min-width: var(--breakpoint-md, 48rem)) {
    :root {
      --ts-xs: 0.67rem;
      --ts-sm: 0.87rem;
      --ts-base: 1.13rem;
      --ts-md: 1.46rem;
      --ts-lg: 1.89rem;
      --ts-xl: 2.46rem;
      --ts-2xl: 3.19rem;
      --ts-3xl: 4.16rem;
      --ts-4xl: 5.41rem;
    }
  }

  @media screen and (min-width: var(--breakpoint-xl, 80rem)) {
    :root {
      --ts-xs: 0.7rem;
      --ts-sm: 0.94rem;
      --ts-base: 1.25rem;
      --ts-md: 1.67rem;
      --ts-lg: 2.22rem;
      --ts-xl: 2.96rem;
      --ts-2xl: 3.95rem;
      --ts-3xl: 5.26rem;
      --ts-4xl: 7.01rem;
    }
  }
}

/* Spacing Scale */

/* - Fluid Spacing Calculator: https://utopia.fyi/space/calculator/?c=448,16,1.2,1440,32,1.25,5,2,&s=0.875|0.75|0.625|0.5|0.375|0.25|0.125,1.125|1.25|1.375|1.5|1.625|1.75|1.875|2|2.125|2.25|2.375|2.5|2.625|2.75|2.875|3|3.125|3.25|3.375|3.5|3.625|3.75|3.875|4|4.125|4.25|4.375|4.5|4.625|4.75|4.875|5,5xs-6xs|4xs-5xs|3xs-4xs|2xs-3xs|xs-2xs|s-xs|m-s|l-m|xl-l|2xl-xl|3xl-2xl|4xl-3xl|5xl-4xl|6xl-5xl|7xl-6xl|8xl-7xl|9xl-8xl|10xl-9xl|11xl-10xl|l-s|xl-m|2xl-l|3xl-xl|4xl-2xl|5xl-3xl|6xl-4xl|7xl-5xl|8xl-6xl|9xl-7xl|10xl-8xl|11xl-9xl|12xl-10xl&g=s,l,xl,12 */

/* For browsers that support clamp  */
@supports (padding: clamp(1rem, 1vi, 1rem)) {
  :root {
    /* Fluid Spacing 0.25: 1px → 2px */
    --fs-0-25: clamp(0.0625rem, 0.0343rem + 0.1008vw, 0.125rem);
    /* Fluid Spacing 0.375: 2px → 3px */
    --fs-0-375: clamp(0.125rem, 0.0968rem + 0.1008vw, 0.1875rem);
    /* Fluid Spacing 0.5: 2px → 4px */
    --fs-0-5: clamp(0.125rem, 0.0685rem + 0.2016vw, 0.25rem);
    /* Fluid Spacing 0.625: 3px → 4px */
    --fs-0-625: clamp(0.1875rem, 0.1593rem + 0.1008vw, 0.25rem);
    /* Fluid Spacing 0.75: 4px → 8px */
    --fs-0-75: clamp(0.25rem, 0.1371rem + 0.4032vw, 0.5rem);
    /* Fluid Spacing 1: 6px → 12px */
    --fs-1: clamp(0.375rem, 0.2056rem + 0.6048vw, 0.75rem);
    /* Fluid Spacing 2: 8px → 16px */
    --fs-2: clamp(0.5rem, 0.2742rem + 0.8065vw, 1rem);
    /* Fluid Spacing 3: 10px → 20px */
    --fs-3: clamp(0.625rem, 0.3427rem + 1.0081vw, 1.25rem);
    /* Fluid Spacing 4: 12px → 24px */
    --fs-4: clamp(0.75rem, 0.4113rem + 1.2097vw, 1.5rem);
    /* Fluid Spacing 5: 14px → 28px */
    --fs-5: clamp(0.875rem, 0.4798rem + 1.4113vw, 1.75rem);
    /* Fluid Spacing 6: 16px → 32px */
    --fs-6: clamp(1rem, 0.5484rem + 1.6129vw, 2rem);
    /* Fluid Spacing 7: 18px → 36px */
    --fs-7: clamp(1.125rem, 0.6169rem + 1.8145vw, 2.25rem);
    /* Fluid Spacing 8: 20px → 40px */
    --fs-8: clamp(1.25rem, 0.6855rem + 2.0161vw, 2.5rem);
    /* Fluid Spacing 9: 22px → 44px */
    --fs-9: clamp(1.375rem, 0.754rem + 2.2177vw, 2.75rem);
    /* Fluid Spacing 10: 24px → 48px */
    --fs-10: clamp(1.5rem, 0.8226rem + 2.4194vw, 3rem);
    /* Fluid Spacing 11: 26px → 52px */
    --fs-11: clamp(1.625rem, 0.8911rem + 2.621vw, 3.25rem);
    /* Fluid Spacing 12: 28px → 56px */
    --fs-12: clamp(1.75rem, 0.9597rem + 2.8226vw, 3.5rem);
    /* Fluid Spacing 13: 30px → 60px */
    --fs-13: clamp(1.875rem, 1.0282rem + 3.0242vw, 3.75rem);
    /* Fluid Spacing 14: 32px → 64px */
    --fs-14: clamp(2rem, 1.0968rem + 3.2258vw, 4rem);
    /* Fluid Spacing 15: 34px → 68px */
    --fs-15: clamp(2.125rem, 1.1653rem + 3.4274vw, 4.25rem);
    /* Fluid Spacing 16: 36px → 72px */
    --fs-16: clamp(2.25rem, 1.2339rem + 3.629vw, 4.5rem);
    /* Fluid Spacing 17: 38px → 76px */
    --fs-17: clamp(2.375rem, 1.3024rem + 3.8306vw, 4.75rem);
    /* Fluid Spacing 18: 40px → 80px */
    --fs-18: clamp(2.5rem, 1.371rem + 4.0323vw, 5rem);
    /* Fluid Spacing 19: 42px → 84px */
    --fs-19: clamp(2.625rem, 1.4395rem + 4.2339vw, 5.25rem);
    /* Fluid Spacing 20: 44px → 88px */
    --fs-20: clamp(2.75rem, 1.5081rem + 4.4355vw, 5.5rem);
    /* Fluid Spacing 21: 46px → 92px */
    --fs-21: clamp(2.875rem, 1.5766rem + 4.6371vw, 5.75rem);
    /* Fluid Spacing 22: 48px → 96px */
    --fs-22: clamp(3rem, 1.6452rem + 4.8387vw, 6rem);
    /* Fluid Spacing 23: 50px → 100px */
    --fs-23: clamp(3.125rem, 1.7137rem + 5.0403vw, 6.25rem);
    /* Fluid Spacing 24: 52px → 104px */
    --fs-24: clamp(3.25rem, 1.7823rem + 5.2419vw, 6.5rem);
    /* Fluid Spacing 25: 54px → 108px */
    --fs-25: clamp(3.375rem, 1.8508rem + 5.4435vw, 6.75rem);
    /* Fluid Spacing 26: 56px → 112px */
    --fs-26: clamp(3.5rem, 1.9194rem + 5.6452vw, 7rem);
    /* Fluid Spacing 27: 58px → 116px */
    --fs-27: clamp(3.625rem, 1.9879rem + 5.8468vw, 7.25rem);
    /* Fluid Spacing 28: 60px → 120px */
    --fs-28: clamp(3.75rem, 2.0565rem + 6.0484vw, 7.5rem);
    /* Fluid Spacing 29: 62px → 124px */
    --fs-29: clamp(3.875rem, 2.125rem + 6.25vw, 7.75rem);
    /* Fluid Spacing 30: 64px → 128px */
    --fs-30: clamp(4rem, 2.1935rem + 6.4516vw, 8rem);
    /* Fluid Spacing 31: 66px → 132px */
    --fs-31: clamp(4.125rem, 2.2621rem + 6.6532vw, 8.25rem);
    /* Fluid Spacing 32: 68px → 136px */
    --fs-32: clamp(4.25rem, 2.3306rem + 6.8548vw, 8.5rem);
    /* Fluid Spacing 33: 70px → 140px */
    --fs-33: clamp(4.375rem, 2.3992rem + 7.0565vw, 8.75rem);
    /* Fluid Spacing 34: 72px → 144px */
    --fs-34: clamp(4.5rem, 2.4677rem + 7.2581vw, 9rem);
    /* Fluid Spacing 35: 74px → 148px */
    --fs-35: clamp(4.625rem, 2.5363rem + 7.4597vw, 9.25rem);
    /* Fluid Spacing 36: 76px → 152px */
    --fs-36: clamp(4.75rem, 2.6048rem + 7.6613vw, 9.5rem);
    /* Fluid Spacing 37: 78px → 156px */
    --fs-37: clamp(4.875rem, 2.6734rem + 7.8629vw, 9.75rem);
    /* Fluid Spacing 38: 80px → 160px */
    --fs-38: clamp(5rem, 2.7419rem + 8.0645vw, 10rem);
    /* Fluid Spacing 39: 82px → 164px */
    --fs-39: clamp(5.125rem, 2.8105rem + 8.2661vw, 10.25rem);
    /* Fluid Spacing 40: 84px → 168px */
    --fs-40: clamp(5.25rem, 2.879rem + 8.4677vw, 10.5rem);
    /* Fluid Spacing 41: 86px → 172px */
    --fs-41: clamp(5.375rem, 2.9476rem + 8.6693vw, 10.75rem);
    /* Fluid Spacing 42: 88px → 176px */
    --fs-42: clamp(5.5rem, 3.0161rem + 8.8709vw, 11rem);
    /* Fluid Spacing 43: 90px → 180px */
    --fs-43: clamp(5.625rem, 3.0847rem + 9.0725vw, 11.25rem);
    /* Fluid Spacing 44: 92px → 184px */
    --fs-44: clamp(5.75rem, 3.1532rem + 9.2741vw, 11.5rem);
    /* Fluid Spacing 45: 94px → 188px */
    --fs-45: clamp(5.875rem, 3.2218rem + 9.4757vw, 11.75rem);
    /* Fluid Spacing 46: 96px → 192px */
    --fs-46: clamp(6rem, 3.2903rem + 9.6773vw, 12rem);
  }
}

/* For browsers that don't support clamp */
@supports not (padding: clamp(1rem, 1vi, 1rem)) {
  :root {
    /* Minimum values */
    --fs-0-25: 0.0625rem;
    --fs-0-375: 0.125rem;
    --fs-0-5: 0.125rem;
    --fs-0-625: 0.1875rem;
    --fs-0-75: 0.25rem;
    --fs-1: 0.375rem;
    --fs-2: 0.5rem;
    --fs-3: 0.625rem;
    --fs-4: 0.75rem;
    --fs-5: 0.875rem;
    --fs-6: 1rem;
    --fs-7: 1.125rem;
    --fs-8: 1.25rem;
    --fs-9: 1.375rem;
    --fs-10: 1.5rem;
    --fs-11: 1.625rem;
    --fs-12: 1.75rem;
    --fs-13: 1.875rem;
    --fs-14: 2rem;
    --fs-15: 2.125rem;
    --fs-16: 2.25rem;
    --fs-17: 2.375rem;
    --fs-18: 2.5rem;
    --fs-19: 2.625rem;
    --fs-20: 2.75rem;
    --fs-21: 2.875rem;
    --fs-22: 3rem;
    --fs-23: 3.125rem;
    --fs-24: 3.25rem;
    --fs-25: 3.375rem;
    --fs-26: 3.5rem;
    --fs-27: 3.625rem;
    --fs-28: 3.75rem;
    --fs-29: 3.875rem;
    --fs-30: 4rem;
    --fs-31: 4.125rem;
    --fs-32: 4.25rem;
    --fs-33: 4.375rem;
    --fs-34: 4.5rem;
    --fs-35: 4.625rem;
    --fs-36: 4.75rem;
    --fs-37: 4.875rem;
    --fs-38: 5rem;
    --fs-39: 5.125rem;
    --fs-40: 5.25rem;
    --fs-41: 5.375rem;
    --fs-42: 5.5rem;
    --fs-43: 5.625rem;
    --fs-44: 5.75rem;
    --fs-45: 5.875rem;
    --fs-46: 6rem;
  }

  @media screen and (min-width: var(--breakpoint-md, 48rem)) {
    :root {
      /* Average values ((min + max) / 2) */
      --fs-0-25: 0.09375rem; /* (0.0625 + 0.125) / 2 */
      --fs-0-375: 0.15625rem; /* (0.125 + 0.1875) / 2 */
      --fs-0-5: 0.1875rem; /* (0.125 + 0.25) / 2 */
      --fs-0-625: 0.21875rem; /* (0.1875 + 0.25) / 2 */
      --fs-0-75: 0.375rem; /* (0.25 + 0.5) / 2 */
      --fs-1: 0.5625rem; /* (0.375 + 0.75) / 2 */
      --fs-2: 0.75rem; /* (0.5 + 1) / 2 */
      --fs-3: 0.9375rem; /* (0.625 + 1.25) / 2 */
      --fs-4: 1.125rem; /* (0.75 + 1.5) / 2 */
      --fs-5: 1.3125rem; /* (0.875 + 1.75) / 2 */
      --fs-6: 1.5rem; /* (1 + 2) / 2 */
      --fs-7: 1.6875rem; /* (1.125 + 2.25) / 2 */
      --fs-8: 1.875rem; /* (1.25 + 2.5) / 2 */
      --fs-9: 2.0625rem; /* (1.375 + 2.75) / 2 */
      --fs-10: 2.25rem; /* (1.5 + 3) / 2 */
      --fs-11: 2.4375rem; /* (1.625 + 3.25) / 2 */
      --fs-12: 2.625rem; /* (1.75 + 3.5) / 2 */
      --fs-13: 2.8125rem; /* (1.875 + 3.75) / 2 */
      --fs-14: 3rem; /* (2 + 4) / 2 */
      --fs-15: 3.1875rem; /* (2.125 + 4.25) / 2 */
      --fs-16: 3.375rem; /* (2.25 + 4.5) / 2 */
      --fs-17: 3.5625rem; /* (2.375 + 4.75) / 2 */
      --fs-18: 3.75rem; /* (2.5 + 5) / 2 */
      --fs-19: 3.9375rem; /* (2.625 + 5.25) / 2 */
      --fs-20: 4.125rem; /* (2.75 + 5.5) / 2 */
      --fs-21: 4.3125rem; /* (2.875 + 5.75) / 2 */
      --fs-22: 4.5rem; /* (3rem + 6rem) / 2 */
      --fs-23: 4.6875rem; /* (3.125rem + 6.25rem) / 2 */
      --fs-24: 4.875rem; /* (3.25rem + 6.5rem) / 2 */
      --fs-25: 5.0625rem; /* (3.375rem + 6.75rem) / 2 */
      --fs-26: 5.25rem; /* (3.5rem + 7rem) / 2 */
      --fs-27: 5.4375rem; /* (3.625rem + 7.25rem) / 2 */
      --fs-28: 5.625rem; /* (3.75rem + 7.5rem) / 2 */
      --fs-29: 5.8125rem; /* (3.875rem + 7.75rem) / 2 */
      --fs-30: 6rem; /* (4rem + 8rem) / 2 */
      --fs-31: 6.1875rem; /* (4.125rem + 8.25rem) / 2 */
      --fs-32: 6.375rem; /* (4.25rem + 8.5rem) / 2 */
      --fs-33: 6.5625rem; /* (4.375rem + 8.75rem) / 2 */
      --fs-34: 6.75rem; /* (4.5rem + 9rem) / 2 */
      --fs-35: 6.9375rem; /* (4.625rem + 9.25rem) / 2 */
      --fs-36: 7.125rem; /* (4.75rem + 9.5rem) / 2 */
      --fs-37: 7.3125rem; /* (4.875rem + 9.75rem) / 2 */
      --fs-38: 7.5rem; /* (5rem + 10rem) / 2 */
      --fs-39: 7.6875rem; /* (5.125rem + 10.25rem) / 2 */
      --fs-40: 7.875rem; /* (5.25rem + 10.5rem) / 2 */
      --fs-41: 8.0625rem; /* (5.375rem + 10.75rem) / 2 */
      --fs-42: 8.25rem; /* (5.5rem + 11rem) / 2 */
      --fs-43: 8.4375rem; /* (5.625rem + 11.25rem) / 2 */
      --fs-44: 8.625rem; /* (5.75rem + 11.5rem) / 2 */
      --fs-45: 8.8125rem; /* (5.875rem + 11.75rem) / 2 */
      --fs-46: 9rem; /* (6rem + 12rem) / 2 */
    }
  }

  @media screen and (min-width: var(--breakpoint-xl, 80rem)) {
    :root {
      /* Maximum values */
      --fs-0-25: 0.125rem;
      --fs-0-375: 0.1875rem;
      --fs-0-5: 0.25rem;
      --fs-0-625: 0.25rem;
      --fs-0-75: 0.5rem;
      --fs-1: 0.75rem;
      --fs-2: 1rem;
      --fs-3: 1.25rem;
      --fs-4: 1.5rem;
      --fs-5: 1.75rem;
      --fs-6: 2rem;
      --fs-7: 2.25rem;
      --fs-8: 2.5rem;
      --fs-9: 2.75rem;
      --fs-10: 3rem;
      --fs-11: 3.25rem;
      --fs-12: 3.5rem;
      --fs-13: 3.75rem;
      --fs-14: 4rem;
      --fs-15: 4.25rem;
      --fs-16: 4.5rem;
      --fs-17: 4.75rem;
      --fs-18: 5rem;
      --fs-19: 5.25rem;
      --fs-20: 5.5rem;
      --fs-21: 5.75rem;
      --fs-22: 6rem;
      --fs-23: 6.25rem;
      --fs-24: 6.5rem;
      --fs-25: 6.75rem;
      --fs-26: 7rem;
      --fs-27: 7.25rem;
      --fs-28: 7.5rem;
      --fs-29: 7.75rem;
      --fs-30: 8rem;
      --fs-31: 8.25rem;
      --fs-32: 8.5rem;
      --fs-33: 8.75rem;
      --fs-34: 9rem;
      --fs-35: 9.25rem;
      --fs-36: 9.5rem;
      --fs-37: 9.75rem;
      --fs-38: 10rem;
      --fs-39: 10.25rem;
      --fs-40: 10.5rem;
      --fs-41: 10.75rem;
      --fs-42: 11rem;
      --fs-43: 11.25rem;
      --fs-44: 11.5rem;
      --fs-45: 11.75rem;
      --fs-46: 12rem;
    }
  }
}
